@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@300;600&display=swap');

.tamanho-tela {
    height: 100vh
}
/* Menu */
.cor__navbar {
    background-color: #563b2d;
}

.nav-item:hover {
    text-decoration: underline;
    color: bisque;
}

.margem-direita {
    margin-right: 2rem;
}

/* Background */
.cor-de-fundo {
    background-image: url(assets/fundoplano.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Carrossel */
.imagem__carrossel1 {
    max-height: 300px;
    object-fit:scale-down;
}

.imagem__carrossel2 {
    max-height: 300px;
    object-fit: scale-down
}

.imagem__carrossel3 {
    max-height: 300px;
    object-fit:scale-down
}

/* Texto principal index */
.titulo-destaque {
    color: #8c696c;
}

.fonte-texto-principal {
    /* font-family:'Montserrat', sans-serif; */
    font-family: 'Krona One', sans-serif;
}

.text-justify {
    text-align: justify;
}

/* Sagrados */

.container__sagrados{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%
}

.fonte__paragrafo {
    font-size: 1.35rem;
    font-family:'Montserrat', sans-serif;
}

.imagem__texto__principal {
    max-height: 300px;
    max-width: 280px;
    border: solid 2px;
    border-radius: 20%;
}

.margin__imagem {
    margin-left: 20%;
}

.margem__titulo {
    margin-top: 9%;
}


/* About */

.margin__imagem__about {
    margin-left:30%;
    margin-top: 10%
}

.margem__titulo__about {
    margin-left: 5%;
    margin-top:2%;
}

@media (max-width: 1100px) {

    .tamanho-tela{
        height: 800px;
    }

    .icones__tablet {
        padding-left: 300px;
    }

}

@media (max-width: 717px) {
    .tamanho-tela{
        display: flex;
        height: 800px;
    }
    
    .icones__tablet{
        padding-left: 60px;
    }

    .container__sagrados {
        display: flex;
        flex-direction: column-reverse;
    }

    .margin__imagem {
        margin-bottom: 5%;
        width: 60%;
    }

    .text__paragrafo {
        padding: 1;
        text-align: start;
    }

    .fonte__paragrafo {
        font-size: 1rem;
        font-family:'Montserrat', sans-serif;
    }

    .container__about {
        display: flex;
        flex-direction: column
    }

    .margin__imagem__about{

        width: 60%;
        margin-top: 0;
    }

    .margin__imagem__about {
        margin-left: 20%;
        margin-bottom:4%;
    }

    .container-fluid {
        padding: 0!important;
    }
    

}







